@charset "utf-8";

/************************************************************************
* FONT *
************************************************************************/

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 100; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
  } 
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 300; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
  } 
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
  } 
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 500; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
  } 
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 700; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
  } 
  @font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 900; 
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
  }

*{font-family: 'Pretendard',Noto Sans KR,sans-serif;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}

.fGSB{font-family:'Pretendard-Bold';}
.fGSM{font-family:'Pretendard-Medium';}
.fGSL{font-family:'Pretendard-Light';}




/************************************************************************
* HTML_RESET *
************************************************************************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,button,address,em,img,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,hr,figure{margin:0;padding:0;}
html,body{height:100vh;}
body{font-size:14px;font-weight:300;color:#000;position:relative;-ms-overflow-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ol,ul,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
form,fieldset,iframe{display:block;border:0;}
img,button{border:0 none;vertical-align:middle;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
caption,legend{display:none;} 
input,textarea,select{margin:0;padding:0;vertical-align:middle;outline:none;}
textarea{border:1px solid #666;resize:none;}
button{overflow:visible;margin:0;padding:0;border:0 none;background:none;font-size:0;vertical-align:top;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
/* a,img{outline:none;temp:expression(this.hideFocus=true);} */
a{color:#fff;text-decoration:none;word-break:break-all;}
a:link,a:visited,a:hover,a:active,a:focus{text-decoration:none;}

*::-moz-selection{background-color:#000;color:#fff;}
*::selection{background-color:#d0d6dd;color:#000;}

/* Global scrollbar style (same as .category-container) */
*{
    scrollbar-width: thin;
    scrollbar-color: #DADADA #F9F9F9;
}
*::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important;
}
*::-webkit-scrollbar-thumb{
    background: #DADADA !important;
    border-radius: 4px !important;
}
*::-webkit-scrollbar-track{
    background: #F9F9F9 !important;
}
textarea::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important;
}
textarea::-webkit-scrollbar-thumb{
    background: #DADADA !important;
    border-radius: 4px !important;
}
textarea::-webkit-scrollbar-track{
    background: #F9F9F9 !important;
}




/************************************************************************
* COMMON *
************************************************************************/
.CLEAR{zoom:1;}
.CLEAR:after{content:"";clear:both;display:block;}
.FL{float:left !important;}
.FR{float:right !important;}

.LEFT{zoom:1;}
.LEFT:after{content:"";clear:both;display:block;}
.LEFT>li{float:left;}

.disF{display:flex;justify-content:space-between;flex-wrap:wrap;}
.disF.jc{justify-content:center;}
.disF.ac{align-items:center;}

.fcol_deepgreen{color:#204A12 !important;}

.TC{text-align:center !important;}

.w5{width:5%;}
.w10{width:10%;}
.w15{width:15%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w35{width:35%;}
.w40{width:40%;}
.w45{width:45%;}
.w50{width:50%;}
.w55{width:55%;}
.w57{width:57%;}
.w60{width:60%;}
.w65{width:65%;}
.w70{width:70%;}
.w75{width:75%;}
.w80{width:80%;}
.w85{width:85%;}
.w90{width:90%;}
.w95{width:95%;}
.w100{width:100%;}

.uli1 li{width:100%;}
.uli2 li{width:50%;}
.uli3 li{width:33.33%;}
.uli4 li{width:25%;}
.uli5 li{width:20%;}
.uli6 li{width:16.6666%;}
.uli7 li{width:14.2857%;}
.uli8 li{width:12.5%;}

.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}
.mt110{margin-top:110px !important;}
.mt120{margin-top:120px !important;}
.mt140{margin-top:140px !important;}
.mt160{margin-top:160px !important;}

.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb80{margin-bottom:80px !important;}
.mb90{margin-bottom:90px !important;}
.mb100{margin-bottom:100px !important;}
.mb110{margin-bottom:110px !important;}
.mb120{margin-bottom:120px !important;}
.mb140{margin-bottom:140px !important;}
.mb160{margin-bottom:160px !important;}

.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr70{margin-right:70px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}
.mr110{margin-right:110px !important;}
.mr120{margin-right:120px !important;}
.mr140{margin-right:140px !important;}
.mr160{margin-right:160px !important;}

h3{font-size:58px;line-height:140%;font-weight:700;}
h4{font-size:50px;line-height:140%;font-weight:700;}
h5{font-size:40px;line-height:140%;font-weight:700;}


.type30{font-size:30px;}
.type29{font-size:29px;}
.type28{font-size:28px;}
.type27{font-size:27px;}
.type26{font-size:26px;}
.type25{font-size:25px;}
.type24{font-size:24px;}
.type23{font-size:23px;}
.type22{font-size:22px;}
.type21{font-size:21px;}
.type20{font-size:20px;}
.type19{font-size:19px;}
.type18{font-size:18px;}
.type17{font-size:17px;font-weight:400;}
.type16{font-size:16px;font-weight:400;}
.type15{font-size:15px;font-weight:400;}
.type14{font-size:14px;font-weight:400;}
.type13{font-size:13px;font-weight:400;}
.type12{font-size:12px;font-weight:400;}
.type11{font-size:11px;font-weight:400;}
.type10{font-size:10px;font-weight:400;}



.txt{font-weight:300;line-height:160%;word-wrap:break-word;display:block;word-break:keep-all;}
.txt.type30{font-size:30px;}
.txt.type29{font-size:29px;}
.txt.type28{font-size:28px;}
.txt.type27{font-size:27px;}
.txt.type26{font-size:26px;}
.txt.type25{font-size:25px;}
.txt.type24{font-size:24px;}
.txt.type23{font-size:23px;}
.txt.type22{font-size:22px;}
.txt.type21{font-size:21px;}
.txt.type20{font-size:20px;}
.txt.type19{font-size:19px;}
.txt.type18{font-size:18px;}
.txt.type17{font-size:17px;font-weight:400;}
.txt.type16{font-size:16px;font-weight:400;}
.txt.type15{font-size:15px;font-weight:400;}
.txt.type14{font-size:14px;font-weight:400;}
.txt.type13{font-size:13px;font-weight:400;}
.txt.type12{font-size:12px;font-weight:400;}
.txt.type11{font-size:11px;font-weight:400;}
.txt.type10{font-size:10px;font-weight:400;}
